.find{
    width: 70%;
    padding-inline: 15%;
    padding-top: 60px;
    height: 1000px;
}

.main-conteiner{
    width: 100%;

}
.img-row-conteiner{
    display: flex;
    justify-content: space-between;
}
.img{
    width: 650px;
    height: 250px;
}
.img-conteiner img{
    margin-top: 20px;
    width: 95%;
}

.img-conteiner {
    display: flex;
}
.img-element2{
    width: 70px;
    background-color: #B6C3C2;
    height: 320px;
    margin-top: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    justify-content: center;

}
.img-element2 button {
    background-color: transparent;
    border: none;
}

.img-element1 button{
    background-color: transparent;
    border: none;
}

.img-element1{
    width: 650px;
    background-color: #B6C3C2;
    height: 50px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    justify-content: center;

}
.img-element1 p{
    margin-right: 90px;

}